@import 'base/variables';

b {
  font-weight: 400;
  font-family: $font-title;
  color: $color-title;
  font-size: $fontsize-title;
  text-align: center;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #0000ff, 0 0 0.5em #8a2be2, 0 0 0.1em #8a2be2, 0 10px 3px #000;

  span {
    animation: blink linear infinite 2s;
  }

  span:nth-of-type(2) {
    animation: blink linear infinite 3s;
  }
}